#logo {
    /* background-color: gray; */
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 200px;
    width: 50px;
    height: 50px;
}


body, h1 {
    margin: 0px;

}/* h1 for delete the empty area */

#navBar {
    background-color: gray;
    /* text-align: center; */
    /* text-align: right; */
}

button {
    margin: 20px 50px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;

}

#foter {
    background-color: gray;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.navleftmenu {
    float: right;
    margin: 20px;
    margin-top: 10px;
}

.menubutton {
    background-color: brown;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
.menubutton:hover {
    background-color: rgb(11, 36, 68);
}

.menubutton:active {
    background-color: green;
}