#logo {
    /* background-color: gray; */
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 200px;
    width: 50px;
    height: 50px;
}


body, h1 {
    margin: 0px;

}/* h1 for delete the empty area */

#navBar {
    background-color: gray;
    /* text-align: center; */
    /* text-align: right; */
}

button {
    margin: 20px 50px;
    border-radius: 10px;

}

#foter {
    background-color: gray;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.navleftmenu {
    float: right;
    margin: 20px;
    margin-top: 10px;
}

.menubutton, .footerbutton {
    background-color: brown;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
.menubutton:hover ,.footerbutton:hover {
    background-color: rgb(11, 36, 68);
}

.menubutton:active {
    background-color: green;
}

.linkbutton {
    width: 20px;
}

.active {
    background-color: blue;
}

/*add style for mobile view for class navRightMenu */
@media only screen and (max-width: 400px){
    .navleftmenu{
        float: none;
        margin: 0px;
        margin-top: 20px;
        padding-bottom: 10px;
    }
    button{
        margin: 0px 6px;
    }
    #logo{
        display: block;
        width: 70px;
        height: 70px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        padding: 10px;
    }
    
    #foter {
        display: flex;
        justify-content: center;
    }

    #foter .buttonlink {
        justify-content: left;
    }

    .footerbutton {
        margin-left: 0px;
        justify-content: center;
    
    }
    /*task about how to center the navmenu*/
}